aiosqlite
beautifulsoup4
faiss-cpu
gradio
grpcio
grpcio-tools
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-huggingface
numpy
openai
pandas
pdf2image
pdfminer.six
Pillow
plotly
protobuf
py-pushover-simple
python-dotenv
python-magic
python-magic-bin
pytesseract
requests
sendgrid
sentence-transformers
streamlit
tika
unstructured
unstructured[local-inference]
watchdog
llama-index
llama-index-llms-gemini
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss