aiosqlite
beautifulsoup4
faiss-cpu
gradio
grpcio
grpcio-tools
google-generativeai
langchain
numpy
openai
pandas
pdf2image
pdfminer.six
Pillow
plotly
protobuf
py-pushover-simple
python-dotenv
python-magic
pytesseract
requests
sendgrid
sentence-transformers
streamlit
tika
unstructured
unstructured[local-inference]
watchdog